# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/app/google-services.json
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS
ios/Runner/GoogleService-Info.plist
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Firebase
lib/firebase_options.dart

# Archive
_archive/

# OS
.DS_Store
Thumbs.db
